<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lrving.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.AgeActivity" />
        <activity android:name=".view.HobbiesActivity" />
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.AutographActivity" />
        <activity android:name=".view.GoalActivity" />
        <activity android:name=".view.HeightActivity" />
        <activity android:name=".view.NameActivity" />
        <activity android:name=".view.SexActivity" />
        <activity android:name=".view.PortraitActivity"></activity>
    </application>

</manifest>